Slasher/AdminServerProgram/Service References/ServiceReference1/SlasherService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/SlasherService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Slasher.Entities" />
  <xs:complexType name="ArrayOfKeyValueOfstringCharacterTypeYaEay7Fk">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringCharacterTypeYaEay7Fk">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Slasher.Entities" name="Value" type="q1:CharacterType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringCharacterTypeYaEay7Fk" nillable="true" type="tns:ArrayOfKeyValueOfstringCharacterTypeYaEay7Fk" />
</xs:schema>